[submodule "sdks/vircadia-world-sdk-ts"]
	path = sdks/vircadia-world-sdk-ts
	url = https://github.com/vircadia/vircadia-world-sdk-ts.git
[submodule "sdks/vircadia-world-sdk-py"]
	path = sdks/vircadia-world-sdk-py
	url = https://github.com/vircadia/vircadia-world-sdk-py.git
