{
  email {$CADDY_EMAIL}
}

{$CADDY_DOMAIN_API} {
  {$CADDY_TLS_API}
  encode zstd gzip

  # Route REST auth, REST WS, and REST asset subpaths to their managers

  @rest_ws path /world/rest/ws*
  reverse_proxy @rest_ws http://{$CADDY_UPSTREAM_API_WS}

  @rest_auth path /world/rest/auth*
  reverse_proxy @rest_auth http://{$CADDY_UPSTREAM_API_AUTH}

  @rest_asset path /world/rest/asset*
  reverse_proxy @rest_asset http://{$CADDY_UPSTREAM_API_ASSET}

  @rest_inference path /world/rest/inference*
  reverse_proxy @rest_inference http://{$CADDY_UPSTREAM_API_INFERENCE}
}

{$CADDY_DOMAIN_APP} {
  bind 0.0.0.0
  {$CADDY_TLS_APP}
  encode zstd gzip

  # Serve the app directly
  root * /srv/app
  file_server
  try_files {path} /index.html
}
