{
    # Global options block
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory {$STAGING_CA:true}
}

{$POSTGRES_DOMAIN} {
    tls {
        on_demand
    }

    reverse_proxy vircadia_world_postgres:{$POSTGRES_PORT} {
        header_up Host {http.request.host}
    }
}

{$BUN_DOMAIN} {
    tls {
        on_demand
    }

    reverse_proxy localhost:{$BUN_PORT} {
        header_up Host {http.request.host}
    }
}
